<h1>Successfully added your comment</h1>
<br>
<% user_id = @comment.user_id %>
<% job_id = @comment.job_posting_id %>
<p><%= @comment.id %></p>
<% @user = User.find(user_id) %>
<% @job = JobPosting.find(17) %>

<p><%= @job.company_name %></p>
<p><%= @job.job_title %></p>
<p><%= @job.posting_url %></p>
<p><%= @job.date_time %></p>
<p><%= @job.user_id %></p>
<br>
<p><%= @comment.comment %></p>
<p><%= @comment.date_time %></p>
<p>by <%= @user.first_name %> <%= @user.last_name %></p>