<h1>Jobbed Out</h1>

<ul>
	<% @postings.each do |x| %>
	<li>
		<h3><%= x.company_name %></h3>
		<h4><%= x.job_title %></h4>
		<h5><a href="<%= x.posting_url %>"></a></h5>
		<% if x.date_time == nil %>
			<p>No date/time stamp</p>
			<% else %>
			<p><%= x.date_time %></p>
		<% end %>
		<% if x.user_id == nil %>
			<p>No User Id</p>
			<% else %>
			<p>Posted by <%= x.user_id %></p>
		<% end %>
	</li>
<% end %>
</ul> 



