<h1>Successfully added your listing to our database</h1>
<br>
<p><%= @job.company_name %></p>
<p><%= @job.job_title %></p>
<p><%= @job.posting_url %></p>
<p><%= @job.date_time %></p>
<p><%= @job.user_id %></p>